header {
  width: 1440px;
  height: 50px;
  left: 0px;
  top: 2px;
  font-family: "Satisfy", cursive;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

.central{

}

h3{
  align-content: center;
}

.caja {
  position: absolute;
  width: 56px;
  height: 47px;
  left: 1284px;
  top: 20px;

  box-sizing: border-box;
}

.carrito {
  position: relative;
  height: 36px;
  width: 36px;
  left: 10px;
  top: 5px;
  border-radius: 0px;
  border: none;
  background: url(./assets/carrito.png);
}

.final {
  padding-top: 30px;
  padding-bottom: 156px;
}