header {
  width: 1440px;
  height: 50px;
  left: 0px;
  top: 2px;
  
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

#central{
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

.central{
  
  margin-bottom: 1rem;
}

#category{
  border-top: 1px solid #dee2e6;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

.caja {
  position: absolute;
  width: 56px;
  height: 47px;
  
  top: 20px;

  box-sizing: border-box;
}

#carrito {
  position: absolute;
  left: 1020px;
  padding: 0;
}

#items {
  position: absolute;
  top: 15px;
  left: 1090px;
  
}

#title{
  margin-top: 10px;
  font-family: "Satisfy", cursive;
  font-size: 20px;
}


